@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.card:hover {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.card-back {
  transform: rotateY(180deg);
}

@layer components {
  .input {
    @apply rounded-lg outline-indigo-500 border border-gray-200 hover:border-indigo-400 dark:bg-neutral-800 dark:border-neutral-700 dark:hover:border-neutral-500 dark:outline-neutral-700 dark:text-slate-300;
  }
}
